<div class="container">
    <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title ">Редактирование профиля </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td> Фамилия</td>
                                    <td>
                                        <input type="text" class="form-control" value="{{ user.lastName }}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Имя</td>
                                    <td>
                                        <input type="text" class="form-control" value="{{ user.name }}"></td>
                                </tr>
                                <tr>
                                    <td>Отчество</td>
                                    <td>
                                        <input type="text" class="form-control" value="{{ user.fatherName }}"></td>
                                </tr>
                                <tr ng-if="user.role == 'student'">
                                    <td>Группа</td>
                                    <td><input type="text" class="form-control" value="{{ user.group }}"></td>
                                </tr>
                                <tr ng-if="user.role == 'teacher' || user.role == 'admin'">
                                    <td>Кабинет</td>
                                    <td><input type="text" class="form-control" value="{{ user.cabinet }}"></td>
                                </tr>
                                <tr ng-if="user.role == 'teacher'">
                                    <td>Должность</td>
                                    <td><input type="text" class="form-control" value="{{ user.position }}"></td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><input type="text" class="form-control" value="{{ user.email }}"></td>
                                </tr>
                                <td>Номер телефона</td>
                                <td><input type="text" class="form-control" value="{{ user.phoneNumber }}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="text-right ">
                        <a href="#/profile" class="btn btn-primary btn-sm" role="button">Сохранить</a>
                        <a href="#/profile" class="btn btn-default btn-sm" role="button">Отмена</a></div>
                </div>
            </div>
        </div>
    </div>
</div>