<div class="container">

    <h2><strong> Условные операторы Pascal-Паскаль</strong></h2>

    <p> Условные операторы позволяют выбирать для выполнения те или иные части программы в зависимости от некоторых
        условий.
        Если, например, в программе используются вещественные переменные x и z, и на каком-то этапе решения задачи
        требуется
        вычислить z=max(x, y), то желаемый результат получается в результате выполнения либо оператора присваивания
        z:=x,
        либо оператора присваивания z:=y. Поскольку значения переменных x и y заранее неизвестны, а определяются в
        процессе
        вычислений, то в программе необходимо предусмотреть оба эти оператора присваивания. Однако на самом деле должен
        выполниться один из них. Поэтому в программе должно содержаться указание о том, в каком случае надо выбирать для
        исполнения тот или иной оператор присваивания.</p>

    <p> Это указание естественно сформулировать с использованием отношения x>y. Если это отношение при текущих значениях
        x и
        y справедливо (принимает значение true), то для исполнения должен выбираться оператор z:=x; в противном случае
        для
        исполнения должен выбираться оператор z:=y (при x=y безразлично, какой оператор выполнять, так что выполнение
        оператора z:=y в этом случае даст правильный результат).</p>

    <button class="btn btn-primary  btn-info" role="button" ng-click="showExamples()">Показать примеры</button>
    <button class="btn btn-primary " role="button" ng-click="executeTest()"><i class="fa fa-check-square-o"
                                                                               aria-hidden="true"></i> Перейти к тесту
    </button>
</div>