<div class="container">

    <h2><strong> Основные понятия языка Паскаль</strong></h2>

    <p> Язык Паскаль относится к процедурно-ориентированным языкам высокого уровня. Паскаль разработан американским
        ученым Никласом Виртом в 1971 г. в качестве языка для обучения программированию. Базой при разработке явился
        язык Алгол. Начиная с версии Турбо Паскаль 5.5 в язык введено понятие объекта и Паскаль стал обладать свойствами
        процедурно-ориентированных и объектно-ориентированных языков программирования. В данном курсе рассматривается
        процедурно-ориентированное подмножество языка Паскаль.
        Достоинства языка Паскаль:
        <br> 1) относительная простота (т.к. разрабатывался с целью обучения программированию);
        <br> 2) идеология языка Паскаль близка к широко используемым базовым методологиям и технологиям
        программирования, в
        частности, к структурному программированию и нисходящему проектированию (методу пошаговой детализации) программ.
        Паскаль может использоваться для записи программы на различных уровнях ее детализации, не прибегая к помощи схем
        алгоритмов;
        <br> 3) гибкие возможности в отношении используемых структур данных;
        <br> 4) высокая эффективность программ;
        <br> 5) наличие средств повышения надежности программ, включающих контроль правильности использования данных
        различных типов и программных элементов на этапах трансляции, редактирования и выполнения.
        В связи с этим язык Паскаль в настоящее время находит самое широкое распространение для решения большого круга
        разнообразных практических и научных задач.</p>
    <p> Грамматическое описание любого языка программирования включает в себя:
        <br> 1) алфавит – набор основных символов языка, используемых при записи текста программы;
        <br> 2) синтаксис – правила построения фраз языка;
        <br> 3) семантику – смысловое значение фраз языка.</p>

    <!--<h2>Алфавит языка Паскаль</h2>-->
    <!--<p>Алфавит языка делится на три группы:-->
    <!--<p><strong>1) Буквы</strong>-->

    <!--<p>В данную группу входят прописные (заглавные) буквы латинского алфавита от A до Z, строчные буквы латинского-->
    <!--алфавита от a до z и символ подчеркивания ( _ ). В программах строчные латинские буквы эквивалентны прописным-->
    <!--везде, за исключением литералов (строковых констант).</p>-->
    <!--</p>-->
    <!--<p><strong>2) Цифры</strong>-->

    <!--<p> В данную группу входят десять десятичных цифр от 0 до 9.-->
    <!--При записи программы на бумаге принято перечеркивать цифру 0, чтобы отличить ее от буквы O, которая не-->
    <!--перечеркивается.</p>-->
    <!--</p>-->
    <!--<p><strong>3) Специальные символы </strong>-->
    <!--<p><br> Специальные символы делятся на две подгруппы.-->
    <!--Первую подгруппу составляют простые и составные специальные символы.</p>-->
    <!--<p> К первой подгруппе относятся следующие простые символы.-->
    <!--<br> а) Символы-ограничители, содержащие знаки арифметических операций:-->
    <!--<div>-->
    <!--<br> + плюс (сложение, объединение множеств, сцепление строк);-->
    <!--<br> – минус (вычитание, разность множеств);-->
    <!--<br> * звездочка (умножение, пересечение множеств);-->
    <!--<br> / наклонная черта, слэш (знак деления, результат всегда имеет вещественный тип);-->
    <!--<br> знаки операций сравнения:-->
    <!--<br> < меньше;-->
    <!--<br> > больше;-->
    <!--<br> = равно;-->
    <!--<br> знаки-разделители:-->
    <!--<br> . точка (десятичная точка в вещественных константах, разделитель полей при обращении к записи, признак-->
    <!--конца модуля (блока));-->
    <!--<br> , запятая (разделитель в перечислениях)-->
    <!--<br>: двоеточие (отделяет объявляемый элемент от его определения и метку от оператора);-->
    <!--<br>; точка с запятой (разделитель операторов программы);-->
    <!--<br>′ апостроф (ограничитель строковых констант);-->
    <!--<br>знаки скобок:-->
    <!--<br>( ) левая и правая скобки (для выделения подвыражений);-->
    <!--<br>[ ] левая и правая квадратные скобки (для выделения индексов массивов);-->
    <!--<br>{ } левая и правая фигурные скобки (ограничители комментариев);-->
    <!--</div>-->

    <!--<br>б) Символы, не входящие в подгруппу символов-ограничителей:-->
    <!--<div>-->
    <!--<br>@ коммерческое ‘at’ (операция взятия адреса элемента);-->
    <!--<br># номер (номер элемента в коде ASCII);-->
    <!--<br>$ знак доллара (признак шестнадцатеричных констант);-->
    <!--<br>^ знак карата (обозначение указателей и динамических переменных);-->
    <!--<br>пробел (символ, не имеющий обозначения).-->
    <!--</div>-->
    <!--<br>В языке имеются определенные комбинации символов, называемые составными специальными символами, которые-->
    <!--имеют специальное значение. Данные символы также относятся к символам-ограничителям:-->
    <!--<div><br><= меньше или равно;-->
    <!--<br>>= больше или равно;-->
    <!--<br><> не равно;-->
    <!--<br>:= операция присваивания;-->
    <!--<br>.. обозначение диапазона.-->
    <!--</div>-->
    <!--<br>Кроме того, имеются составные символы, являющиеся аналогами специальных символов скобок:-->
    <!--<div><br>(* *) аналоги { };-->
    <!--<br>(. .) аналоги [ ].-->
    <!--</div>-->
    <!--<br>В языке Паскаль используются также синтаксическое понятие «шестнадцатеричная цифра». Шестнадцатеричными-->
    <!--цифрами являются десятичные цифры и буквы A, B, C, D, E, F (или a, b, c, d, e, f). Обозначения шестнадцатеричных-->
    <!--констант начинаются со знака $. Например, $F – это число 15 в десятичной системе счисления.-->
    <!--Шестнадцатеричные цифры относятся к составным символам.</p>-->
    <!--<p> Вторая подгруппа специальных символов состоит из служебных слов.-->
    <!--<br>Служебные слова – это определенные комбинации латинских букв, имеющие в языке строго фиксированный смысл.-->
    <!--Эти слова нельзя применять для других целей. Поэтому их еще называют зарезервированными словами.-->
    <!--<br>В языке Паскаль имеется около 100 служебных слов. К ним, например, относятся:-->
    <!--<br>Absolute And Asm Array Begin Break Case Const Constructor Continue Destructor Div Do Downto Else End Exit-->
    <!--External File For Forward Function Goto If Implementation In Inline Interface Interrupt Label Mod Nil Not Object-->
    <!--Of Or Packed Procedure Program Record Repeat Set Shl Shr String Then To Type Unit Until Uses Var Virtual While-->
    <!--With Xor.-->
    <!--</p>-->
    <!--</p>-->

    <button class="btn btn-primary  btn-info" role="button" ng-click="showExamples()">Показать примеры</button>
    <button class="btn btn-primary " role="button" ng-click="executeTest()">
        <i class="fa fa-check-square-o" aria-hidden="true"></i> Перейти к тесту
    </button>
    <p></p>
    <p>
    <h3>Примеры</h3></p>
    <p>Простейший пример программы вычисления площади треугольника по сторонам с размерами <strong>a, b, c </strong>
        с использованием формулы Герона:</p>
    <pre>
        Program PLOTS;
            Var
                a, b, c : real;
                p, s : real;
            Begin
                Read (a, b, c);
                Writeln (a, b, c);
                p := (a + b + c)/2;
                s := sqrt (p*(p-a)*(p-b)*(p-c));
                Writeln(s);
            End.
    </pre>
   <p> Заголовок всегда начинается служебным словом Program, за которым указывается имя программы. Имя программы является
    внешним идентификатором.</p>
  <p>  Раздел описаний в данной программе содержит только описания переменных. Раздел описаний переменных открывается
    служебным словом Var (variable – переменная). Данный раздел содержит два описания переменных: 1-ое описывает
    переменные a, b, c, 2-ое – переменные p, s.</p>
   <br> Предопределенный идентификатор real – указывает, что переменные a, b, c, p, s в программе будут иметь атрибуты
    вещественных чисел (чисел с плавающей точкой).
  <br>  В программах на языке Паскаль все идентификаторы, определенные программистом, должны быть обязательно объявлены.
   <p></p> Раздел операторов задает действия, которые нужно выполнять в данной программе. Этот раздел всегда начинается
    служебным словом Begin и заканчивается служебным словом End. Эти слова играют роль операторных скобок.
    </p>
</div>