<div class="jumbotron">
    <div class="container">
        <p>Добавление нового теста</p>
    </div>
</div>
<div class="container">
    <!--<p><h3>Выберите файл с теоретическим материалом к тесту</h3></p>-->
    <!--<div class="form-group">-->
        <!--<label for="exampleInputFile"></label>-->
        <!--<input type="file" id="exampleInputFile">-->
        <!--<p class="help-block">Файл должен иметь .txt формат</p>-->
        <!--<p><a class="btn btn-primary btn-sm" href="#/registration" role="button">Загрузить</a></p>-->
    <!--</div>-->

    <p><h3>Введите примеры по теме теста</h3></p>
    <textarea class="form-control" rows="3"></textarea>

    <p></p>
    <button class="btn btn-primary btn-lg" role="button" ng-click="addNewUser()">Сохранить</button>
    <button class="btn btn-default btn-lg" role="button" ng-click="cancel()">Назад</button>
</div>