.titleName {
    font-family: segoe print;
    font-style: italic;
}

html, body, .container-table {
    height: 60%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}